@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Open+Sans:wght@300;400;500&family=Overpass:wght@200;300;400;500;600;700&display=swap');
body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #ededed;
}

@media (min-width: 1400px){
    .container{
        max-width: 1400px!important;
    }
}